.container{
    padding-top: 10px;
    .col-centered{
        margin: auto;
        float: none;
    }
    textarea{
        resize: vertical;
    }

    #accordion-frame{
        margin-top: 15px;
        .panel-heading{
            background-color: #AF7CE3;
            color: white;
        }
        #accordion{
            margin-top:15px;
            .ingredients-heading{
                margin: 1% 0% 2% 0%;
            }
        }
    }
}